footer{
    width: 100vw;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: right;
    padding-right: 1vw;
}
footer button{
    border: 0;
    background-color: transparent;
}
footer i{
    font-size: 2vw;
    color: crimson;
    margin: 0.3vw 0.3vw;
}

@media ( max-width: 425px){
    footer{
        justify-content: center;
    }
    footer i{
        font-size: 4.8vw;
        margin: 0.3vw;
    }
}