#cards_projetos{
    width: 100vw;
    display: grid;
    justify-content: space-around;
    grid-template-columns: 20vw 20vw 20vw 20vw 20vw;
    grid-template-rows: 15vw 15vw;
}
.card{
    width: 10vw; 
    height: 10vw;
    background-color: crimson;
    font-size: 0.80vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.card img{
    width: 10vw;
    height: 10vw;
}

    