@import url(../header.css);
@import url(../btn_header.css);
@import url(./banner.css);
@import url(./lista_cards.css);
@import url(./habilits.css);
@import url(../footer.css);
@import url(./inputs.css);
@import url(./cards_novo.css);

body{
    background-image:url(../../assets/img/bad.jpg);  
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    margin: 0;
    width: 100vw;
    height: 10vh;
    overflow-x: hidden;
}

@media (max-width: 425px){
    body{
        overflow: auto;
    }
}


