#img_principal {
    width: 66vw;
    height: auto;
    position: absolute;      
    z-index: -1;
    top: 7vw; 
    left: 5vw;
}

#nome {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10vw;
    position: absolute;
    right: 16vw;
    top: 14vw;

    background-image: linear-gradient(to top, #ffca36, #d0a020);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: black;

}

#sobrenome {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 6vw;
    position: absolute;
    right: 16vw;
    top: 24vw;
    
    background-image: linear-gradient(to top, #ffca36, #d0a020);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: black;
}

#sobre_mim {
    width: 33vw;
    text-align: right;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5vw;
    position: absolute;
    right: 16vw;
    top: 32vw;
    color: black;
}

@media ( max-width: 425px){
   #img_principal{
    width: 107vw;
    left: -3.5vw;
    top: 68vw;
   }
#nome{
    font-size: 18vw;
    top: 60vw;
   }
#sobrenome{
    font-size: 14vw;
    top: 80vw;
}

#sobre_mim{
    width: 90vw;
    font-size: 5vw;
    right: 7vw;
    top: 130vw;
}
}